{% extends "base_generic.html" %}
{% load static %}
{% block main %}
<section class="py-5" style="padding: 10px;padding-top: 0px;">
    <div class="container" style="margin-top: 100px;">
        <div class="row mx-0 justify-content-center align-items-center">
            <div class="col-md-6">
                <h1 class="text-break" style="font-size: 52.36px;font-weight: 900;margin-top: 58px;">{{event.title}}
                </h1>
                <p style="font-weight: bold;font-size: 18px;margin-top: 12px;color:white;">{{event.description}}</p>

                {% if owner %}
                <div class="btn-group" role="group">
                    
                    {% if event.draft %}
                        <a class="btn btn-primary" href="{% url 'post-event' pk=event.pk %}" type="button">Post</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'reader' pk=event.pk %}" type="button">Scan tickets</a>
                    {% endif %}
                        
                    <a href="{% url 'update-event' pk=event.pk %}" class="btn btn-success" type="button">Update
                        details</a>
                    <a href="{% url 'delete-event' pk=event.pk %}" type="button" class="btn btn-danger">Delete</a>

                </div>
                {% else %}
                <div class="btn-group" role="group">

                    {% if attending %}
                    <a class="btn btn-primary" type="button" href="{% url 'get-ticket' pk=user.pk %}">Get ticket</a>

                    {% else %}
                    <a href="{% url 'add-guest' pk=event.pk%}" class="btn btn-primary" type="button">Attend</a>

                    {% endif %}

                    <a class="btn btn-success" type="button">Set Reminder</a>
                </div>


                {% endif %}

                <div style="margin-top: 44px;">
                    <p>Working with the best</p><img src="{% static 'assets/img/kickstarter.png' %}"
                        style="margin-right: 19px;"><img src="{% static 'assets/img/twitter.png' %}"
                        style="margin-right: 19px;"><img src="{% static 'assets/img/pinterest.png' %}">
                </div>
            </div>
            <div class="col-md-6 col-lg-6  d-none d-lg-block"><img src="{{event.poster.url}}" class="img-fluid rounded">
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row justify-content-evenly">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card border rounded shadow border-start-primary py-2">
                    <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        style="font-size: 12px;color: var(--bs-primary);">Guests</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                        style="font-size: 14px;"></span><span
                                        style="font-size: 14px;">{{event.guest_set.count}}</span><span
                                        style="font-size: 10px;margin-left: 12px;color: var(--bs-gray-600);">{{event.guests}}
                                        left</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-user-friends fa-2x" data-bs-toggle="tooltip"
                                    data-bss-tooltip="" style="color: var(--bs-yellow);font-size: 28px;margin-top: 4px;"
                                    title="Votre position dans le classement général est définie en fonction de vos statistiques de pronostiqueur"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card border rounded shadow border-start-primary py-2">
                    <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        style="font-size: 12px;color: var(--bs-primary);">Venue</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                        style="font-size: 14px;">Lab B7</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-search-location fa-2x" data-bs-toggle="tooltip"
                                    data-bss-tooltip="" style="color: var(--bs-green);font-size: 28px;margin-top: 4px;"
                                    title="Ceci est votre solde de CV que vous pouvez à tout moment déposer sur votre compte et utiliser pour acheter les pronostics de votre choix"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card border rounded shadow border-start-primary py-2">
                    <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        style="font-size: 12px;color: var(--bs-primary);">Start</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                        style="font-size: 14px;">{{event.start_date|date}}</span><a href="#"
                                        style="font-size: 10px;margin-left: 12px;text-decoration: none;"><i
                                            class="fas fa-arrow-right"></i>{{event.start_date|time}}</a></div>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar fa-2x" data-bs-toggle="tooltip"
                                    data-bss-tooltip="" style="color: var(--bs-danger);font-size: 28px;margin-top: 4px;"
                                    title="Ceci est votre solde de CR que vous pouvez retirer à tout moment de votre compte lorsque vous atteignez un plafond de retrait minimum de 20 €"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card border rounded shadow border-start-primary py-2">
                    <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        style="font-size: 12px;color: var(--bs-primary);">End</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                        style="font-size: 14px;">{{event.end_date|date}}</span><a href="#"
                                        style="font-size: 10px;margin-left: 12px;text-decoration: none;"><i
                                            class="fas fa-arrow-right"></i>{{event.end_date|time}}</a></div>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar-times fa-2x" data-bs-toggle="tooltip"
                                    data-bss-tooltip="" style="color: var(--bs-danger);font-size: 28px;margin-top: 4px;"
                                    title="Ceci est votre solde de CR que vous pouvez retirer à tout moment de votre compte lorsque vous atteignez un plafond de retrait minimum de 20 €"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Guests</p>
                <h2 class="fw-bold">Speakers</h2>
                <p class="text-muted">The following are the speakers for various topics&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 mx-auto" style="max-width: 700px;">
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar4.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar6.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar5.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar3.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar1.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'assets/img/team/avatar2.jpg' %}">
                    <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                    <p class="text-muted mb-2">Erat netus</p>
                </div>
            </div>
        </div>

        {% if event.guest_set.all %}
        <div class="row justify-content-center g-2">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Other guests</h2>
                    <p class="text-muted">The following are the attending guests&nbsp;</p>
                </div>
            </div>

            {% for guest in event.guest_set.all %}
            <div class="col-4">
                <div class="card mb-3 rounded-3 shadow bg-secondary p-2">
                    <div class="row justify-content-center align-items-center g-0">
                        <div class="col-md-3 text-center">
                            <img src="https://dummyimage.com/540x1024/919191/7a7a7a&text=image" class="img" alt="..."
                                style="width:100px;height:100px;border-radius:50px;">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{guest}}</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>
{% endblock main %}