{% extends "base_generic.html" %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" id="navcol-1" data-bs-spy="scroll" data-bs-smooth-scroll="true">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse"
                href="{% url 'event-list' %}">Events</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active" href="{% url 'user-profile' %}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <a class="btn btn-success shadow" role="button" href="{{user.get_to_dashboard}}">Dashboard</a>
    {% else %}
    <a class="btn btn-primary shadow" role="button" href="{% url 'login' %}">Sign In</a>
    {% endif %}
</div>
{% endblock nav %}
{% block main %}
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <form class="modal-content" enctype="multipart/form-data" method="post" id="imageForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title fw-semibold">Upload Image</h4><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding: 20px;">
                    <p><input type="file" name="profile" style="border-top-style: groove;padding: 0;"></p>
                    <input type="hidden" name="query" value="image">
                </div>
                <div class="modal-footer d-lg-flex justify-content-between align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"><button class="btn btn-primary" type="submit">Upload</button></div>
                            <div class="col-md-6"><button class="btn btn-light" type="button"
                                    data-bs-dismiss="modal">Close</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <section class="text-light py-5"
        style="backdrop-filter: brightness(158%);-webkit-backdrop-filter: brightness(158%);padding: 20px 0;">
        <div class="container-fluid">
            <h2 class="fw-bold text-start text-light mb-4" style="--bs-body-font-weight: bolder;">{{myuser}}</h2>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card text-dark bg-light bg-gradient border rounded shadow-sm mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                src="{{user.avatar.url}}" width="160" height="160">
                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" data-bs-target="#modal-1"
                                    data-bs-toggle="modal">Change Photo</button></div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-lg-8">
                  
                    <div class="row">
                        <div class="col">
                            <div class="card text-dark bg-light bg-gradient border rounded shadow-sm mb-3 rounded">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">User Settings</p>
                                </div>
                                <div class="card-body" style="padding: 10px;">
                                    <form class="border-0" method="post" id="detailForm">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label"
                                                        for="username"><strong>Username</strong></label><input
                                                        class="form-control" type="text" id="username"
                                                        placeholder="Username" name="username"
                                                        value="{{user.username}}"
                                                        style="height: auto;background: rgb(241, 241, 241);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label"
                                                        for="username"><strong>Email</strong></label><input
                                                        class="border-0 form-control" type="email" id="email"
                                                        placeholder="Email" name="email"
                                                        value="{{user.email}}"
                                                        disabled
                                                        style="height: auto;margin: 5px 0 22px;padding: 15px;background: rgb(241,241,241);filter: brightness(100%);">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="first_name"><strong>First
                                                            Name</strong></label><input class="form-control" type="text"
                                                        id="first_name" placeholder='First name' value="{{user.first_name}}" name="first_name"></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="last_name"><strong>Last
                                                            Name</strong></label><input class="form-control" type="text"
                                                        id="last_name"  placeholder='Last name' value="{{user.last_name}}" name="last_name"></div>
                                            </div>
                                        </div>
                                                            <input type="hidden" name="query" value="details">

                                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save
                                                Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
    