{% load static %}
<div class="col-md-4 single-note-item all-category note-{% cycle 'important' 'social' 'business' %}">
	<div class="card card-body text-dark">
		<span class="side-stick"></span>
		<h5 class="note-title text-truncate w-75 mb-0" data-noteheading="{{event.title}}">
			{{event.title}}
			<i class="point fa fa-circle ml-1 font-10"></i>
		</h5>
		<p class="note-date font-12 text-success">
			{{event.start_date}}
		</p>
		<div class="note-content">
			<p class="note-inner-content text-dark"
				data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">
				{{event.description}}
			</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="ml-auto">
				<div class="category-selector btn-group">
					<a class="nav-link dropdown-toggle category-dropdown label-group p-0" data-toggle="dropdown"
						href="{{event.get_absolute_url}}" role="button" aria-haspopup="true" aria-expanded="true">
						<div class="category">
							<div class="category-business"></div>
							<div class="category-social"></div>
							<div class="category-important"></div>
							<span class="more-options text-dark"><i class="icon-options-vertical"></i></span>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right category-menu">
						<a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success"
							href="{{event.get_absolute_url}}">
							<i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
						</a>
						<a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info"
							href="{{event.get_absolute_url}}">
							<i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>
							Social
						</a>
						<a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger"
							href="{{event.get_absolute_url}}">
							<i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>
							Important
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>