{% load static %}
<div class="col-md-4 height-350" style="height:auto">
	<div class="blog-card blog-card-blog">
		<div class="blog-card-image">
			<a href="#"> <img class="img" src="{{event.poster.url}}" style="object-fit:cover;max-height:200px;"> </a>
			<div class="ripple-cont"></div>
		</div>
		<div class="blog-table">
			<h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> {{event.category}}</h6>
			<h4 class="blog-card-caption">
				<a href="{{event.get_absolute_url}}">{{event.title}}</a>
			</h4>
			<p class="blog-card-description">{{event.description|truncatewords:6}}.</p>
			<div class="ftr">
				<div class="author">
					<img src="{{event.host.avatar.url}}" alt="..." class="avatar img-raised">
					<span>{{event.host.email}}</span>
				</div>
			</div>
			<div class="stats mt-2">{{event.get_tickets_left}} Tickets left</div>

		</div>
	</div>
</div>