{% extends "base_generic.html" %} {% load static %} {% block main %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="text-light bg-light py-5">
	<div class="container-fluid">
		<div class="d-sm-flex justify-content-between align-items-center mb-4" style="padding: 0 100px">
			<h3 class="text-dark mb-0">Dashboard</h3>
			<a type="button" class="btn btn-primary" href="?mode=guest">Host Mode</a>
		</div>
	</div>
	<div class="row" style="margin: 10px">
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card border rounded shadow border-start-primary py-2" style="margin: 10px">
				<div class="card-body" style="padding-bottom: 0px; padding-top: 0px">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1">
								<span style="
										font-size: 12px;
										color: var(--bs-primary);
									">Attendance</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px">
								<span style="font-size: 14px"><i class="fas fa-caret-up" style="
											margin-right: 6px;
											color: var(--bs-success);
											font-size: 16px;
										"></i></span><span style="font-size: 14px">221 ème</span><span style="
										font-size: 10px;
										margin-left: 12px;
										color: var(--bs-gray-600);
									">1325 points</span>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-trophy fa-2x" data-bs-toggle="tooltip" data-bss-tooltip="" style="
									color: var(--bs-yellow);
									font-size: 28px;
									margin-top: 4px;
								" title="Votre position dans le classement général est définie en fonction de vos statistiques de pronostiqueur"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card border rounded shadow border-start-primary py-2" style="margin: 10px">
				<div class="card-body" style="padding-bottom: 0px; padding-top: 0px">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1">
								<span style="
										font-size: 12px;
										color: var(--bs-primary);
									">Engagement</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px">
								<span style="font-size: 14px"><i class="fas fa-caret-up" style="
											margin-right: 6px;
											color: var(--bs-success);
											font-size: 16px;
										"></i></span><span style="font-size: 14px">64 %</span><span style="
										font-size: 10px;
										margin-left: 12px;
										color: var(--bs-gray-600);
									">12/21 validés</span>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-check fa-2x" data-bs-toggle="tooltip" data-bss-tooltip="" style="
									color: var(--bs-primary);
									font-size: 28px;
									margin-top: 4px;
								" title="Ceci est votre taux de réussite moyen calculé sur la base des 30 derniers jours"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card border rounded shadow border-start-primary py-2" style="margin: 10px">
				<div class="card-body" style="padding-bottom: 0px; padding-top: 0px">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1">
								<span style="
										font-size: 12px;
										color: var(--bs-primary);
									">Skills</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px">
								<span style="font-size: 14px">12 000</span><a href="#" style="
										font-size: 10px;
										margin-left: 12px;
										text-decoration: none;
									"><i class="fas fa-arrow-right"></i>&nbsp;Faire un dépôt</a>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-money-bill fa-2x" data-bs-toggle="tooltip" data-bss-tooltip="" style="
									color: var(--bs-green);
									font-size: 28px;
									margin-top: 4px;
								" title="Ceci est votre solde de CV que vous pouvez à tout moment déposer sur votre compte et utiliser pour acheter les pronostics de votre choix"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card border rounded shadow border-start-primary py-2" style="margin: 10px">
				<div class="card-body" style="padding-bottom: 0px; padding-top: 0px">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1">
								<span style="
										font-size: 12px;
										color: var(--bs-primary);
									">Progress</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px">
								<span style="font-size: 14px">32 600</span><a href="#" style="
										font-size: 10px;
										margin-left: 12px;
										text-decoration: none;
									"><i class="fas fa-arrow-right"></i>&nbsp;Faire un retrait</a>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-money-bill fa-2x" data-bs-toggle="tooltip" data-bss-tooltip="" style="
									color: var(--bs-danger);
									font-size: 28px;
									margin-top: 4px;
								" title="Ceci est votre solde de CR que vous pouvez retirer à tout moment de votre compte lorsque vous atteignez un plafond de retrait minimum de 20 €"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
		style="margin: 0 10px 10px">
		<div class="pb-2 pb-lg-1">
			<h2 class="fw-bold mb-2">Events Calendar</h2>
			<p class="mb-0"></p>
		</div>
		<div class="my-2">
			<a class="btn btn-light fs-5 py-2 px-4" role="button" href="#">Generate Report</a>
		</div>
	</div>
	<div class="page-content container note-has-grid my-3">
		<ul class="nav nav-pills" id="eventTab" role="tablist">
			{% for category, events in event_dict.items %}
			{% with category_id=category|slugify %}
			<li class="nav-item" role="presentation">
				<button class="nav-link {% if forloop.first %}active{% endif %}" id="{{category_id}}-tab"
					data-bs-toggle="tab" data-bs-target="#{{category_id}}" type="button" role="tab"
					aria-controls="{{category_id}}"
					aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{category}}</button>
			</li>
			{% endwith %}
			{% endfor %}
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			{% for category, events in event_dict.items %}
			{% with category_id=category|slugify %}
			<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{category_id}}" role="tabpanel"
				aria-labelledby="{{category_id}}-tab">
				<div id="note-full-container" class="note-has-grid row justify-content-center">
	
					{% for event in events %}
					{% include 'components/event_dash_card.html' with event=event %}
	
					{% empty %}
					<div class="p-5 mb-4 rounded-3 text-dark">
						<div class="container-fluid py-5">
							<h1 class="display-5 fw-bold">No Events created yet</h1>
						</div>
					</div>
					{% endfor %}
	
				</div>
			</div>
			{% endwith %}
			{% endfor %}
	
		</div>
	</div>


	{% if attendance %}
	<div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
		style="margin: 0 10px 10px">
		<div class="pb-2 pb-lg-1">
			<h2 class="fw-bold mb-2">Attendance</h2>
			<p class="mb-0"></p>
		</div>
		<div class="my-2"></div>
	</div>
	<div class="container-fluid" style="margin-bottom: 50px">
		<div class="card" id="TableSorterCard-1" style="border-style: none; border-radius: 6.5px">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive border rounded" style="border-top-style: none; background: #171921">
						<table class="table table-striped table tablesorter" id="ipi-table">
							<thead class="thead-dark" style="
											background: rgb(33, 37, 48);
											border-width: 0px;
											border-color: rgb(0, 0, 0);
											border-bottom-color: #21252f;
										">
								<tr style="
												border-style: none;
												border-color: rgba(255, 255, 255, 0);
												background: #21252f;
											">
									<th class="text-center">Name</th>
									<th class="text-center">Department</th>
									<th class="text-center filter-false sorter-false">
										Actions
									</th>
								</tr>
							</thead>
							<tbody class="text-center" style="border-top-width: 0px">
								<tr style="background: #262a38">
									<td style="color: rgb(255, 255, 255)">
										Ana Kendrick
									</td>
									<td style="color: rgb(255, 255, 255)">
										Diseño
									</td>
									<td class="text-center align-middle" style="max-height: 60px; height: 60px">
										<a class="btn btnMaterial btn-flat primary semicircle" role="button" href="#"
											style="color: #00bdff"><i class="far fa-eye"></i></a><a
											class="btn btnMaterial btn-flat success semicircle" role="button" href="#"
											style="color: rgb(0, 197, 179)"><i class="fas fa-pen"></i></a><a
											class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover"
											role="button" style="margin-left: 5px" data-bs-toggle="modal"
											data-bs-target="#delete-modal" href="#"><i class="fas fa-trash btnNoBorders"
												style="color: #dc3545"></i></a>
									</td>
								</tr>
								<tr style="background: #212430">
									<td style="color: rgb(255, 255, 255)">
										FerJulla Jerry
									</td>
									<td style="color: rgb(255, 255, 255)">
										Development
									</td>
									<td class="text-center align-middle" style="max-height: 60px; height: 60px">
										<a class="btn btnMaterial btn-flat primary semicircle" role="button" href="#"
											style="color: #00bdff"><i class="far fa-eye"></i></a><a
											class="btn btnMaterial btn-flat success semicircle" role="button" href="#"
											style="color: rgb(0, 197, 179)"><i class="fas fa-pen"></i></a><a
											class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover"
											role="button" style="margin-left: 5px" data-bs-toggle="modal"
											data-bs-target="#delete-modal" href="#"><i class="fas fa-trash btnNoBorders"
												style="color: #dc3545"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</section>
{% endblock main %}