{% extends 'index.html' %} {% load static %}
{% load crispy_forms_tags %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/tinymce.min.js" integrity="sha512-DB4Mu+YChAdaLiuKCybPULuNSoFBZ2flD9vURt7PgU/7pUDnwgZEO+M89GjBLvK9v/NaixpswQtQRPSMRQwYIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%block main%}
<div class="container">
    <br />
    
    <br />
    <div class="jumbotron">
        <p class="lead display-5 text-center">Post something</p>
        <form method="POST" role="form" enctype="multipart/form-data">
            <div class="form-group">
                {{ form|crispy }}
                {%csrf_token%}
            </div>
            <br />
            <button type="submit" class="save btn btn-success btn-outline-warning">
                Save
            </button>
        </form>
    </div>
    
</div>
<br />

{% endblock%}
