/* Remove scrollbar */
::-webkit-scrollbar {
	display: none;
}

body {
	scroll-behavior: smooth;
}

.cover-section {
	position: relative;
	height: 100vh;
	background-size: cover;
}

.cover-background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.5;
}

.cover-text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;

}

.cover-header {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.cover-message {
	font-size: 2rem;
}

/* Add styling for the cover section */
#cover {
	height: 100vh;
	/* Set the background image */
	background-size: cover;
	/* Scale the background image to cover the entire section */
	background-position: center;
	/* Center the background image */
	background-attachment: fixed;
	/* Make the cover image fixed while in its parent */
	position: relative;
	/* Set the position to relative for the overlay */
	overflow: hidden;
}

/* Add the overlay */
#cover:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Set the background color and opacity */
	background-color: rgba(0, 0, 0, 0.5);

}

/* default link style */
.link-item {
	color: black;
	margin-right: 20px;
	font-weight: bolder;
	transition: width 0.7s ease-in-out, transform 0.7s ease-in-out;
}

/* hover effect */
.link-item:hover {
	color: #771414e1;
	position: relative;
	/* add this to position the line */
}

.link-item::before {
	content: "";
	width: 0%;
	transform: scaleX(0);
}

.link-item:hover::before {
	width: 100%;
	height: 5px;
	border-radius: 2px;
	background-color: #771414e1;
	position: absolute;
	left: 0;
	bottom: -2px;
	/* move the line up to be under the text */
	transform: scaleX(1);
	transition: width 0.7s ease-in-out, transform 0.7s ease-in-out;
	transform-origin: center;
}


.scroll-down {
	position: absolute;
	bottom: 30px;
	transform: translateX(-50%);
	animation: bounce 2s infinite;
	box-shadow: 0 0 0 0 #771414e1;
	transition: box-shadow 0.9s ease-in-out;
}

.scroll-down svg {
	box-shadow: 0 0 0 0 #771414b4;
	transition: box-shadow 0.9s ease-in-out;
}

.scroll-down svg:hover {
	-webkit-filter: drop-shadow(0 0 5px #fff);
	filter: drop-shadow(0 0 5px #fff);
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}